In [26]:
import kagglehub
import os

# Download latest version
path = kagglehub.dataset_download("ujjwalchowdhury/walmartcleaned")

print("Path to dataset files:", path)

print(os.listdir(path))

Using Colab cache for faster access to the 'walmartcleaned' dataset.
Path to dataset files: /kaggle/input/walmartcleaned
['walmart_cleaned.csv']

In [64]:
import pandas as pd

In [65]:
file_path = "//root/.cache/kagglehub/datasets/ujjwalchowdhury/walmartcleaned/versions/1/walmart_cleaned.csv"
df = pd.read_csv(file_path)
df.head()

,Unnamed: 0,Store,Date,IsHoliday,Dept,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,0,1,2010-02-05,0,1.0,24924.50,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3,151315
1,1,1,2010-02-05,0,26.0,11737.12,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3,151315
2,2,1,2010-02-05,0,17.0,13223.76,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3,151315
3,3,1,2010-02-05,0,45.0,37.44,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3,151315
4,4,1,2010-02-05,0,28.0,1085.29,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3,151315

In [66]:
df = df.drop(columns = ["Unnamed: 0"], axis = 1)

In [67]:
df[df.duplicated()]

Empty DataFrame
Columns: [Store, Date, IsHoliday, Dept, Weekly_Sales, Temperature, Fuel_Price, MarkDown1, MarkDown2, MarkDown3, MarkDown4, MarkDown5, CPI, Unemployment, Type, Size]
Index: []

In [68]:
df.describe().T.style.bar(subset = ["mean"], 
                          color = "#5fba7d").background_gradient(subset = ["std", "min", "25%", "50%", "75%", "max"],
                          cmap = "YlGnBu")

In [69]:
pd.DataFrame(df.dtypes, columns= ["Types"]).T

,Store,Date,IsHoliday,Dept,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
Types,int64,object,int64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,int64,int64

In [72]:
df["Date"] = pd.to_datetime(df["Date"])

In [ ]:
df["Day"] = df["Date"].dt.day
df["Month"] = df["Date"].dt.month
df["Year"] = df["Date"].dt.year
df["Week"] = df["Date"].dt.isocalendar().week
df["DayOfTheWeek"] = df["Date"].dt.dayofweek

In [98]:
df["Month_name"] = df["Date"].dt.month_name().str[:3]

In [99]:
df["Month_name"]

0         Feb
1         Feb
2         Feb
3         Feb
4         Feb
         ...
421565    Oct
421566    Oct
421567    Oct
421568    Oct
421569    Oct
Name: Month_name, Length: 421570, dtype: object