In [16]:
import kagglehub
import os

# Download latest version
path = kagglehub.dataset_download("ujjwalchowdhury/walmartcleaned")

print("Path to dataset files:", path)

print(os.listdir(path))

Path to dataset files: C:\Users\HomePC\.cache\kagglehub\datasets\ujjwalchowdhury\walmartcleaned\versions\1
['walmart_cleaned.csv']

In [17]:
import pandas as pd

In [19]:
file_path = r"C:\Users\HomePC\.cache\kagglehub\datasets\ujjwalchowdhury\walmartcleaned\versions\1\walmart_cleaned.csv"


df = pd.read_csv(file_path)
df.head()

,Unnamed: 0,Store,Date,IsHoliday,Dept,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,0,1,2010-02-05,0,1.0,24924.50,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3,151315
1,1,1,2010-02-05,0,26.0,11737.12,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3,151315
2,2,1,2010-02-05,0,17.0,13223.76,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3,151315
3,3,1,2010-02-05,0,45.0,37.44,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3,151315
4,4,1,2010-02-05,0,28.0,1085.29,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3,151315

In [24]:
df.MarkDown1.value_counts()

MarkDown1
0.00       270889
460.73        102
1.50          102
175.64         93
5924.71        75
            ...
243.47         42
512.15         42
318.51         42
945.96         42
187.88         42
Name: count, Length: 2278, dtype: int64

In [1]:
df.duplicated()

NameError: name 'df' is not defined